@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,300,400|Roboto:400,500');

html {
    background-color: #EDECEA;

    height: 98%;
}
/* roboto, mono */
/* #000E1C */
/* #00203F */
/* #0F1B26 */
body, a {
    color: #2c4052;
}

body {
    margin: 1% 1% 1% 1%;
    height: 98%;
    border: 7px solid;
    border-color: #2c4052;
    font-family: 'IBM Plex Mono', monospace;
}

.title-landing {
    font-size: 64px;
}
.title-landing::after {
    content: '';
    height: 64px;
    width: 3px;
    background: #2c4052;
    position: relative;
    display: inline-block;
    animation: blink-animation 0.9s steps(2 , start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.subtitle-landing {
    font-size: 20px;
    font-weight: 200;
    margin-top: 5px;
}
.social-medias {
    font-size: 17px;
    font-weight: 200;
    margin: 10px 30px;
}

.social-medias > a {
    display: block;
    padding: 1px 8px;
}

.social-medias > a.github:hover {
    font-weight: bold;
    /* color: #333; */
    color: #EDECEA;
    background-color: #333;
}

.social-medias > a.codepen:hover {
    font-weight: bold;
    /* color: black; */
    color: #EDECEA;
    background-color: black;
}

.social-medias > a.linkedin:hover {
    font-weight: bold;
    /* color: #0077B5; */
    color: #EDECEA;
    background-color: #0077B5;
}

.social-medias > a.pinterest:hover {
    font-weight: bold;
     /* color: #BD081C; */
     color: #EDECEA;
     background-color: #BD081C;
}

