@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,300,400|Roboto:400,500');

html {
    background-color: #EDECEA;
    height: 98%;
}
/* roboto, mono */
/* #000E1C */
/* #00203F */
/* #0F1B26 */

body {
    margin: 1% 1% 1% 1%;
    height: 98%;
    border: 7px solid #0F1B26;
    box-sizing: border-box;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 56px;
    color: #0F1B26;
}
h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 25   px;
    font-weight: 200;
    padding-left: 20px;
    color: #0F1B26;
}

h3 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    font-weight: 200;
    color: #0F1B26;
}